#footleft
  %ul.menuhorfoot
    %li= link_to(t(:contact), contact_url)
    %li= link_to(t(:legal), legal_url)
#footright
  = t :copyright
#designed
  %ul.design
    %li= link_to(t(:design), 'http://www.nw1pc.co.uk' )
#mozscroll
  &nbsp;
