#headleft
  #logo
    %a{ :href => "/home" }
      %img{ :src => "/images/mainlogo.png", :alt => "Lloyd Loom Of Spalding logo" }
#headright
  #language
  #telephone
    #telcon.telephoneicon
      %a{ :href => "/telephone" }
        %img{ :src => "/images/teleIcon.png", :alt => "Lloyd Loom Of Spalding contact" }
  #brochure
    #bricon.brochureicon
      %a{ :href => "/brochure" }
        %img{ :src => "/images/brochureIcon.png ", :alt => "Lloyd Loom Of Spalding logo" }
  #bread
