%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
%meta#MetaKeywords{ :name => "KEYWORDS", :content => @meta_keywords }
%meta#MetaCopyright{ :name => "COPYRIGHT", :content => "\302\2512009 Lloyd Loom Of Spalding" }
%meta{ :name => "description", :content => @meta_description }
%meta{ :name => "robots", :content => "noarchive,home,follow" }
%title= @meta_title
%link{ :href => "/stylesheets/print.css", :rel => "stylesheet", :media => "print", :type => "text/css" }
%link{ :href => "/stylesheets/main.css", :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css", :rel => "stylesheet", :type => "text/css" }
= stylesheet_link_tag 'application'
/[if IE 6] 
  %link{ :href => "/stylesheets/ie6stylesheet.css", :rel => "stylesheet", :type => "text/css" }
%script{ :type => "text/javascript", :src => "/javascripts/jquery-1.3.2.min.js" }
%script{ :type => "text/javascript", :src => "/javascripts/ddaccordion.js" }
%script{ :type => "text/javascript", :src => "/javascripts/menuControl.js" }
%script{ :type => "text/javascript", :src => "/javascripts/swfobject.js" }
%script{ :type => "text/javascript", :src => "/javascripts/jquery.form.js" }
%script{ :type => "text/javascript", :src => "/javascripts/prototype.js" }
%script{ :type => "text/javascript", :src => "/javascripts/tablesort/fastinit.js" }
%script{ :type => "text/javascript", :src => "/javascripts/tablesort/tablesort.js" }
%script{ :type => "text/javascript", :src => "/javascripts/jquery.scrollTo-1.4.2-min.js" }
%script{ :type => "text/javascript", :src => "/javascripts/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js" }
%script{ :type => "text/javascript", :src => "/javascripts/application.js" }

