%ul.menuhor
  %li
    =section_link(t(:home),:controller => 'static_content', :action => ['home'], :url => "")
  %li
    =section_link(t(:products),:controller => 'products', :action => ['index'], :url => "products")
  %li
    =section_link(t(:heritage),:controller => 'static_content', :action => ['heritage','production','history', 'film'] , :url => "heritage")
  %li
    =section_link(t(:news),:controller => 'news_items', :action => ['index'], :url => "news")
  %li
    =section_link(t(:projects),:controller => 'projects', :action => ['index'], :url => "projects")
  %li
    =section_link(t(:contact),:controller => 'static_content', :action => ['contact'], :url => "contact")

  - if I18n.locale.to_s == "en" && t(:stockists_link_active)
    %li
      =section_link(t(:stockists_link),:controller => 'stockists', :action => ['index'], :url => "stockists")

  %li
    =section_link(t(:faq), :controller => 'static_content', :action => ['faq'], :url => "faq")