#stockists_container
  %h2=t(".title")

  %p#enter_postcode=t(".enter_postcode")
  %form{:id => "stockist_form", :action => ""}
    %input#address{:placeholder => t(".enter_postcode")}
    %input{:type => :submit, :value => t(".go"), :autofocus => :autofocus}

  %br

  #results

    %p#title{:style =>  "display:none"}= t(".results_title")


    - 3.times do
      =render :partial => "stockist"

    %div{:style => "clear:both"}
    %p#message{:style =>  "display:none"}= t(".no_data_found")
    %p#enquiries{:style =>  "display:none"}= t(".enquiries")


  %br
  %br
        
  #results_canvas{:style => "width:90%; height:300px; border:0px solid #ccc;"}