<%= breadcrumbs %>
<div class="static padded">
<div id="fabric">
	<div class="fabricleft">
    	<h2>Fabric for Cushions</h2>
        	<p>We have ranges of fabrics at different price levels but we can also make-up our cushions in any fabric you choose.</p>
            <p>Please contact us for the fabric requirement for any particular model if you want us to use your own material.</p>
            <p>All our standard fabrics comply with the Furniture Fire Safety Regulations 1988 and we can provide fire resistant inter-liners if your fabric is not FR treated.</p>
            <p>For contract situations, we have ranges that conform to Crib 5 fire ignition tests.</p>
            <p>Our standard ranges include:	
                <ul>
                    <li>Romo Linara in 200 colours</li>
                    <li>Linwood Medura</li>
                    <li>Linwood Iona</li>		
                    <li>Sekers (particularly suited to contract situations)</li>
                </ul>
			</p>
            <p>All our leathers are from high quality hides.</p>
        </div>    
    <div class="fabricright">
        	<img src="/images/fabric1.png" border="0" height="410"/>
		<p>Please <a href="/contact">contact</a> us for swatches or for advice on fabrics</p>

    </div>
</div>
</div>


