#navhorheritage
  = render :partial => "heritage_menu", :locals => {:current => "film"}
= breadcrumbs

%h2= t(".1_h2")
%p= t(".1_p1")


%iframe{ :title => "YouTube video player", :class => "youtube-player", :type => "text/html", :width => "480", :height => "390", :src => "http://www.youtube.com/embed/Z41xJV9Dikc?rel=0", :frameborder => "0", :allowFullScreen => "allowFullScreen" }
