#navhorheritage
  = render :partial => "heritage_menu", :locals => {:current => "heritage"}
= breadcrumbs
#heritageus
  .heritageleft
    %p=t(".1_p1")
    %p{:class => "heritagebreak2"}=t(".1_p2")
    %p{:class => "heritagebreak"}=t(".1_p3")
    %p=t(".1_p4")
    %p=t(".1_p5")
    %p=t(".1_p6")
  .heritageright
    .heritageimage
      <img src="/images/Weave.jpg" border="0" width="160" alt="weave image" />
    .heritageimage
      <img src="/images/hand.jpg" border="0" width="160" alt="hand image" />

