#navhorheritage
  = render :partial => "heritage_menu", :locals => {:current => "heritage"}
= breadcrumbs
#heritageus
  .heritage_item
    .heritageimage
      =link_to image_tag("/images/Weave.jpg"), "/heritage/production"
    .heritagetext
      %p=t(".1_p1")
  .heritage_item
    .heritageimage
      =link_to image_tag("/images/hand.jpg"), "/heritage/history"
    .heritagetext
      %p=t(".2_p1")
  .heritage_item
    .heritageimage
      =link_to image_tag("/images/filmimg.jpg"), "heritage/film"
    .heritagetext
      %p=t(".3_p1")


