#navhorheritage
  = render :partial => "heritage_menu", :locals => {:current => "history"}
= breadcrumbs
#history
  %h1=t(".1_h1")
  %img.hisimage{:align => "right", :alt => "sofa image", :height => "270", :src => "/images/History0.jpg", :style => "padding-top:10px", :width => "230"}
  %p=t(".1_p1")
  %p=t(".1_p2")
  %p=t(".1_p3")
  %h1=t(".2_h1")
  %p=t(".2_p1")
  %p=t(".2_p2")
  %p=t(".2_p3")
  %img.hisimageleft{:align => "left", :alt => "modern chair", :height => "200", :src => "/images/history1.png"}
  %p=t(".2_p4")
  %p=t(".2_p5")
  %p=t(".2_p6")
  %br
  %h1=t(".3_h1")
  %h1=t(".3_h1b")
  %p=t(".3_p1")
  %img.hisimage{:align => "right", :alt => "babys basket", :height => "132", :src => "/images/history2.jpg", :width => "200"}
  %p
    =t(".3_p2")
    %i=t(".3_p3")
  %p=t(".3_p4")
  %p=t(".3_p5")
  %h1=t(".4_h1")
  %img.hisimageleft{:align => "left", :alt => "Marshall Burns Lloyd", :height => "200", :src => "/images/history3.jpg", :width => "137"}
  %p=t(".4_p1")
  %p=t(".4_p2")
  %p=t(".4_p3")
  %img.hisimageleft{:align => "left", :alt => "pram", :height => "270", :src => "/images/history5.jpg", :width => "250"}
  %p=t(".4_p4")
  %p=t(".4_p5")
  %p=t(".4_p6")
  %p=t(".4_p7")
  %h1=t(".5_h1")
  %p=t(".5_p1")
  %img.hisimagenew{:align => "right", :alt => "catalogue", :height => "320", :src => "/images/history6.jpg", :width => "210"}
  %p
    =t(".5_p2")
    %br
  %p=t(".5_p3")
  %p=t(".5_p4")
  %p
    =t(".5_p5")
    %br
    %br
  %h1=t(".6_h1")
  %p
    =t(".6_p1")
    %br
  %span
    %i=t(".7_i1")
  %br
  %span
    %i=t(".7_i2")
  %br
  %span
    %i=t(".7_i3")
  %br
  %span
    %i=t(".7_i4")
  %br
  %span
    %i=t(".7_i5")
  %br
  %span
    %i=t(".7_i6")
  %br
