-#:javascript
-#  swfobject.embedSWF("images/HomeAni.swf", "homeflash", "790", "400", "9.0.0")
#homeflash
  <img src="/images/Homepageimage.jpg" width="620" height="286" alt="home page image" />
#hometext
  %h1="Lloyd Loom of Spalding the genuine British manufacturer"
  %p="Genuine British Lloyd Loom furniture is manufactured from woven twisted paper and wire on a solid beech-wood frame."
  %p="Each piece - whether for conservatory, kitchen or restaurant - is individually handmade by craftsmen to your specification and can be in any colour you like."
  %p="Our furniture is tremendously strong and, unlike the cane and rattan furniture which inspired the original elegant designs, it will last for a generation."

