!!!
%html{ "xml:lang" => "en-GB", :lang => "en-GB", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta#MetaKeywords{ :name => "KEYWORDS", :content => "" }/
    /
      Write here some keywords
    %meta#MetaCopyright{ :name => "COPYRIGHT", :content => "\302\2512009 Lloyd Loom Of Spalding" }/
    %meta{ :name => "description", :content => "" }/
    /
      Write here the discription you want to be shown in the google
    %meta{ :name => "robots", :content => "noarchive,home,follow" }/
    %title
      Lloyd Loom of Spalding | Home
    %link{ :href => "stylesheets/print.css", :rel => "stylesheet", :media => "print", :type => "text/css" }/
    /
      Make a secondary css for printing. Make the document black and white
    %link{ :href => "stylesheets/main.css", :rel => "stylesheet", :type => "text/css" }/
    /
      <link rel="stylesheet" type="text/css" media="all" href="jScrollPane.css" />
    %script{ :type => "text/javascript", :src => "javascripts/jquery-1.3.2.min.js" }/
    %script{ :type => "text/javascript", :src => "javascripts/ddaccordion.js" }
      \/***********************************************
      * Accordion Content script- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
      * Visit http://www.dynamicDrive.com for hundreds of DHTML scripts
      * This notice must stay intact for legal use
      ***********************************************/
    %script{ :type => "text/javascript", :src => "javascripts/menuControl.js" }/
    /
      testtesttest
    /
      testtesttest
    /
      <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
      <script type="text/javascript" src="js/jquery.em.js"></script>
      <script type="text/javascript" src="js/jScrollPane.js"></script>
      <script type="text/javascript">
      $(function()
      {
      $('.urbangreymenu ul').jScrollPane();
      });
      
      \/*
      $(function()
      {
      $('.submenu').jScrollPane(
      {scrollbarWidth:20,
      scrollbarMargin:10});
      });
      *  scrollbarWidth [int] - the width of the created scrollbar in pixels (defaults to 10)
      * scrollbarMargin [int] - the margin to leave to the left of the scrollbar in pixels (defaults to 5)
      * wheelSpeed [int] - controls how fast the mouse wheel makes the content scroll in pixels (defaults to 18)
      * showArrows [boolean] - controls whether to display arrows for the user to scroll with (defaults to false)
      * arrowSize [int] - the height of the arrow buttons if showArrows=true (calculated from CSS if not provided)
      * animateTo [boolean] - whether to animate when calling scrollTo and scrollBy (defaults to false)
      * dragMinHeight [int] - the minimum height to allow the drag bar to be (defaults to 0)
      * dragMaxHeight [int] - the maximum height to allow the drag bar to be (defaults to 99999!)
      * animateInterval [int] - The interval in milliseconds to update an animating scrollPane (default 100)
      * animateStep [int] - The amount to divide the remaining scroll distance by when animating (default 3)
      * maintainPosition [boolean] - Whether you want the contents of the scroll pane to maintain it's position when you re-initialise it - so it doesn't scroll as you add more content (default true)
      * scrollbarOnLeft [boolean] - Whether the scrollbar should appear on the left hand side of the panes content (make sure your CSS also reflects this)
      * reinitialiseOnImageLoad [boolean] - Whether the jScrollPane should automatically re-initialise itself when any contained images are loaded (defaults to false)
      */
      
      
      </script>
  %body
    #wrap
      #header
        #headleft
          #logo
            %a{ :href => "./index.html" }
              %img{ :src => "images/mainlogo.png", :alt => "Lloyd Loom Of Spalding logo" }/
        #headright
          #language
            /
              <img src="images/briticon.png" alt="britlangicon" />
              <img src="images/frenchIcon.png" alt="frlangicon" />
          #brochure
            #bricon.brochureicon
              %a{ :href => "./index.html" }
                %img{ :src => "images/brochureIcon.png ", :alt => "Lloyd Loom Of Spalding logo" }/
          #bread
            %a{ :href => "#" }
              products
            %a
              %a
                \&nbsp;>
            %a{ :href => "#" }
              Boston Collection
            %a
              %a
                \&nbsp;>
            %a{ :href => "#" }
              Chair
            %a
      #content
        #contentLeft
          %h2.menuheadeer
            Products
          #navindoor.urbangreymenu
            /
              Type
            /
              <h3 class="headerbar"><a href="http://www.dynamicdrive.com/style/">CSS Library</a></h3>
            %h3.headerbar
              Type
            %ul.submenu
              %li
                %a{ :href => "#" }
                  Armchairs
              %li
                %a{ :href => "#" }
                  Sofas
              %li
                %a{ :href => "#" }
                  Tables
              %li
                %a{ :href => "#" }
                  Beds
            /
              Room
            /
              <h3 class="headerbar"><a href="http://www.javascriptkit.com">JavaScript Kit</a></h3>
            %h3.headerbar
              Room
            %ul.submenu
              %li
                %a{ :href => "#" }
                  Kitchen
              %li
                %a{ :href => "#" }
                  Dining Room
              %li
                %a{ :href => "#" }
                  Bedroom
              %li
                %a{ :href => "#" }
                  Living Room
            /
              Range
            /
              <h3 class="headerbar"><a href="http://www.javascriptkit.com">JavaScript Kit</a></h3>
            %h3.headerbar
              Range
            %ul.submenu
              %li
                %a{ :href => "#" }
                  Boston
              %li
                %a{ :href => "#" }
                  Bossanova
              %li
                %a{ :href => "#" }
                  Bedroom
              %li
                %a{ :href => "#" }
                  York
              %li
                %a{ :href => "#" }
                  ORIENT
              %li
                %a{ :href => "#" }
                  NEWMARKET
              %li
                %a{ :href => "#" }
                  AMY
              %li
                %a{ :href => "#" }
                  WINSOVER
              %li
                %a{ :href => "#" }
                  STAMFORD
              %li
                %a{ :href => "#" }
                  CHESTER
              %li
                %a{ :href => "#" }
                  YORK
              %li
                %a{ :href => "#" }
                  BISTRO
              %li
                %a{ :href => "#" }
                  BOSTON
              %li
                %a{ :href => "#" }
                  WELLS
              %li
                %a{ :href => "#" }
                  BANTAM
              %li
                %a{ :href => "#" }
                  BOLERO
              %li
                %a{ :href => "#" }
                  LINCOLN
              %li
                %a{ :href => "#" }
                  BOSSANOVA
              %li
                %a{ :href => "#" }
                  DERBY
              %li
                %a{ :href => "#" }
                  ZEUS
              %li
                %a{ :href => "#" }
                  APOLLO
              %li
                %a{ :href => "#" }
                  WAVE
              %li
                %a{ :href => "#" }
                  BURGHLEY SOFA
              %li
                %a{ :href => "#" }
                  QUADRA
              %li
                %a{ :href => "#" }
                  FIRESIDE
              %li
                %a{ :href => "#" }
                  BOSTON LOUNGE
            %h3.headerbar
              Outdoor
            %ul.submenu
              %li
                %a{ :href => "#" }
                  All
              %li
                %a{ :href => "#" }
                  Chairs
              %li
                %a{ :href => "#" }
                  Tables
              %li
                %a{ :href => "#" }
                  Sofas
              %li
                %a{ :href => "#" }
                  Loungers
          /
            \-------------
          %h2.menuheadeer
            Colours
          /
            <h2>Weave</h2>
          #navcolour.urbangreymenu
            /
              Weave
            /
              <h3 class="headerbar"><a href="http://www.dynamicdrive.com/style/">CSS Library</a></h3>
            %h3.headerbar
              Weave
            %ul.submenu
              %li
                %a{ :href => "#" }
                  Standard
              %li
                %a{ :href => "#" }
                  Loomtex
              %li
                %a{ :href => "#" }
                  Naturals
              %li
                %a{ :href => "#" }
                  Outdoor
            /
              Fabric
            /
              <h3 class="headerbar"><a href="http://www.javascriptkit.com">JavaScript Kit</a></h3>
            %h3.headerbar
              Fabric
            %ul.submenu
              %li
                %a{ :href => "#" }
                  Fab1
              %li
                %a{ :href => "#" }
                  Fab2
              %li
                %a{ :href => "#" }
                  Fab3
              %li
                %a{ :href => "#" }
                  Fab4
        #contentRight
          #navhor
            %ul#menuhor
              %li
                %a.current{ :href => "#", :target => "_self" }
                  Home
              %li
                %a{ :href => "#", :target => "_self" }
                  Products
              %li
                %a{ :href => "#", :target => "_self" }
                  About
              %li
                %a{ :href => "#", :target => "_self" }
                  News
              %li
                %a{ :href => "#", :target => "_self" }
                  Projects
              %li
                %a{ :href => "#", :target => "_self" }
                  Showrooms
          #upperContent
            #mainImg
              /
                <img src="images/furniture/Boston Lounge Location.jpg" alt="Main images" width="480" height="320"/>                        </div>
              %img{ :src => "images/furniture/BL Chair.jpg", :height => "320", :alt => "Main images", :width => "480" }/
            /
              testtesttest
            /
              testtesttest
            #thumbCont
              #thumbsImg
                .thumb
                  %img{ :src => "images/furniture/BL Chair.jpg", :height => "96", :alt => "Main images", :width => "144" }/
                  %div{ :style => "margin-top:-96px;width:144px;height:96px;background:#D8E1E6;filter:alpha(opacity=40);-moz-opacity:.40;opacity:.40;" }/
                .thumbselect
                  %img{ :src => "images/furniture/BL Footstool.jpg", :height => "96", :alt => "Main images", :width => "144" }/
                .thumbselect
                  %img{ :src => "images/furniture/BL Sofa 2.jpg", :height => "96", :alt => "Main images", :width => "144" }/
                .thumbselect
                  %img{ :src => "images/furniture/BL Sofa 3.jpg", :height => "96", :alt => "Main images", :width => "144" }/
                .thumbselect
                  %img{ :src => "images/furniture/BL Sofa 2.jpg", :height => "96", :alt => "Main images", :width => "144" }/
              #thumbPage
                %a{ :href => "#" }
                  <<
                %a
                  |
                %a{ :href => "#" }
                  >>
          #lowerContent
            #prodHead
              #prodRange
                %h2
                  Boston Lounge Collection
                %h2
                  \&nbsp;>&nbsp;
              #prodTitle
                %h2
                  Chair
            #prodBody
              #prodBodyLeft
                #product
                  %a
                    Code:&nbsp;CD001
                  %ul
                    %li
                      %a.prodSpec
                        Width:&nbsp;
                      %a.prodSpecVal
                        430mm
                    %li
                      %a.prodSpec
                        Height:&nbsp;
                      %a.prodSpecVal
                        600mm
                    %li
                      %a.prodSpec
                        Depth:&nbsp;
                      %a.prodSpecVal
                        400mm
              #prodBodyRight
                %a
                  Available in:
                %ul
                  %li
                    %a{ :href => "#" }
                      Standard
                  %li
                    %a{ :href => "#" }
                      Loomtex
                  %li
                    %a{ :href => "#" }
                      Farrow & Ball
              #prodText
                %p
                  This is a short bit of information about the product.  It may include extra information that is difficult to include else where. This is a short bit of information about the product. This will stretch the site as required.
                  %br/
                  This will stretch the site as required.
                  %br/
                  This will stretch the site as required.
                  %br/
                  This will stretch the site as required.
                  %br/
      #footer
        #footleft
          %a{ :href => "#" }
            Contact Us
          %a
            |
          %a{ :href => "#" }
            Legal Information
          %a
            |
          %a{ :href => "#" }
            FAQ's
        #footright
          %a{ :href => "#" }
            Copyright Lloyd Loom of Spalding
