<%= breadcrumbs %>
<div class="static padded">
<div id="legal">
<h2>Privacy</h2>
<p>Lloyd Loom of Spalding Ltd. has created this privacy statement in order to demonstrate our firm commitment to privacy. The following discloses our information gathering and dissemination practices for this website:</p>
<p>We use your IP address to help diagnose problems with our server, and to administer our web site.</p>
<p>Our site may use cookies to make sure you don't see the same content repeatedly. We may use cookies to deliver content specific to your interests. In specific circumstances, you may be asked to register to be able to receive additional information.</p>
<p>Our site's registration form requires users to give us contact information (like their name and email address). Users may opt-out of receiving future mailings; see the choice/opt-out section below.</p>
<p>This site may contain links to other sites, such as those of our alliance partners. Lloyd Loom of Spalding Ltd. is not responsible for the privacy practices or the content of those other Web sites.</p>
<h2>Terms and Conditions</h2>
<p>Access to and use of this site ('<a href="http://www.lloydloom.com">www.lloydloom.com</a>') is provided by the Lloyd Loom of Spalding Ltd. subject to the following terms: By using '<a href="http://www.lloydloom.com">www.lloydloom.com</a>' you agree to be legally bound by these terms, which shall take effect immediately on your first use of '<a href="http://www.lloydloom.com">www.lloydloom.com</a>'.</p>
<p>If you do not agree to be legally bound by all the following terms please do not access and/or use 'www.lloydloom.com'.
Use of '<a href="http://www.lloydloom.com">www.lloydloom.com</a>'</p>
<p>You may not copy, reproduce, republish, download, make available to the public, or otherwise use '<a href="http://www.lloydloom.com">www.lloydloom.com</a>' content in any way except for your own personal, non-commercial use.</p>
<p>You also agree not to adapt, alter or create a derivative work from any '<a href="http://www.lloydloom.com">www.lloydloom.com</a>' content except for your own personal, non-commercial use.</p>
<p>You agree to use '<a href="http://www.lloydloom.com">www.lloydloom.com</a>' only for lawful purposes, and in a way that does not infringe the rights of, restrict or inhibit anyone else's use and enjoyment of '<a href="http://www.lloydloom.com">www.lloydloom.com</a>'.</p>
</div>
</div>

