<%= breadcrumbs %>
<div class="static padded">
<div id="standard">
  <div class="stdtop">
    <div class="stdtopleft">
      <h2>Loomtex</h2>
      <p>Made from highly durable linen and twisted dyed paper fibre, the fabric is used in many of our contemporary pieces but it can also be used as a floor covering.</p>
      <p>As a carpet or rug, it is available in widths of 1.2m to 2.5m and lengths of 1.2m to 5m.</p>
      <p>It comes in a variety of patterns as well as the colours shown.    Please <a href="/contact">contact us</a> for more information about Loomtex.</p>
      <p>Please note all colours are only represented as closely as screen variance allows.</p>
    </div>
    <div class="stdtopright"> <img src="/images/colours/loomtex1.png" alt="loomtex image" border="0" height="130"/> </div>
  </div>
  <div class="standardbottom">
    <div class="swatch"> <img src="/images/colours/loom1.png" alt="loomtex image" border="0" height="94"/>
      <h3>Marble</h3>
    </div>
    <div class="swatch"> <img src="/images/colours/loom2.png" alt="loomtex image" border="0" height="94"/>
      <h3>Natural</h3>
    </div>
    <div class="swatch"> <img src="/images/colours/loom3.png" alt="loomtex image" border="0" height="94"/>
      <h3>Spice</h3>
    </div>
    <div class="swatch"> <img src="/images/colours/loom4.png" alt="loomtex image" border="0" height="94"/>
      <h3>Storm</h3>
    </div>
    <div class="swatch"> <img src="/images/colours/loom5.png" alt="loomtex image" border="0" height="94"/>
      <h3>Taupe</h3>
    </div>
  </div>
  <div class="stdtop">
    <div class="stdtopleft">
      <h2>Naturals Loomtex</h2>
      <p>With the release of the popular naturals range, we decided to introduce the same colours into the Loomtex range.</p>
      <p>Still made from highly durable linen and paper weave, the Naturals Loomtex can be made with a variety of patterns. Please contact us for more information.</p>
	  <p>Please note all colours are only represented as closely as screen variance allows.</p>
    </div>
    <div class="stdtopright"> <img src="/images/colours/loomNatural1.png" alt="loomtex image" border="0" height="130"/> </div>
  </div>
  <div class="standardbottom">
    <div class="swatch"> <img src="/images/colours/loomnat1.png" alt="loomtex image" border="0" height="94"/>
      <h3>Pistachio</h3>
    </div>
    <div class="swatch"> <img src="/images/colours/loomnat2.png" alt="loomtex image" border="0" height="94"/>
      <h3>Nutmeg</h3>
    </div>
    <div class="swatch"> <img src="/images/colours/loomnat3.png" alt="loomtex image" border="0" height="94"/>
      <h3>Clear</h3>
    </div>
    <div class="swatch"> <img src="/images/colours/loomnat4.png" alt="loomtex image" border="0" height="94"/>
      <h3>Cirrus</h3>
    </div>
    <div class="swatch"> <img src="/images/colours/loomnat5.png" alt="loomtex image" border="0" height="94"/>
      <h3>Burnt Oak</h3>
    </div>
  </div>
</div>
</div>
