<%= breadcrumbs %>
<div class="static padded">
<div id="naturals">
  <div class="stdtop">
    <div class="stdtopleft">
      <h2>Naturals</h2>
      <p>Made using traditional methods on Lloyd Loom machinery Naturals Weave is crafted from 40% recycled Kraft paper that has been pre-dyed by environmentally friendly water based dyeing system. </p>
      <p>Naturals is 100% color fast and extremely hard wearing with no possibility of the color chipping.</p>
      <p>Please note all colours are only represented as closely as screen variance allows.</p>
    </div>
    <div class="stdtopright"> <img src="/images/colours/natural1.png" alt="naturals image" border="0" height="130"/> </div>
  </div>
  <div class="standardbottom">
    <div class="swatch"> <img src="/images/colours/nat1.png" alt="naturals image" border="0" height="94"/>
      <h3>Pistachio</h3>
    </div>
    <div class="swatch"> <img src="/images/colours/nat2.png" alt="naturals image" border="0" height="94"/>
      <h3>Nutmeg</h3>
    </div>
    <div class="swatch"> <img src="/images/colours/nat3.png" alt="naturals image" border="0" height="94"/>
      <h3>Clear</h3>
    </div>
    <div class="swatch"> <img src="/images/colours/nat4.png" alt="naturals image" border="0" height="94"/>
      <h3>Cirrus</h3>
    </div>
    <div class="swatch"> <img src="/images/colours/nat5.png" alt="naturals image" border="0" height="94"/>
      <h3>Burnt Oak</h3>
    </div>
  </div>
</div>
</div>
