= breadcrumbs
.static.padded
  #outdoor
    .stdtop
      .stdtopleft
        %h2= t(".1_h2")
        %p= t(".1_p1")
        %p= t(".1_p2")
      .stdtopright <img src="/images/colours/outdoor1.png" alt"outdoor image" border="0" height="130"/>
    .standardbottom
      .swatch
        <img src="/images/colours/out1.png" alt"outdoor image" border="0" height="94"/>
        %h3 Antique Natural
      .swatch
        <img src="/images/colours/out2.png" alt"outdoor image" border="0" height="94"/>
        %h3 Tea Green
      .swatch
        <img src="/images/colours/out3.png" alt"outdoor image" border="0" height="94"/>
        %h3 Mocha
      .swatch
        <img src="/images/colours/out4.png" alt"outdoor image" border="0" height="94"/>
        %h3 Whitewash
