<%= breadcrumbs %>
<div class="static padded">
    <div id="standard">
        <div class="stdtop">
                <div class="stdtopleft">
                <h2>Paint Colors</h2>
                        <p>Our Environmentally friendly water based paints apply a slightly matt finish to our weave. These are our standard colours but we can also supply any RAL or Farrow & Ball colour you specify for a small surcharge.</p><p>Please note that colours are as accurate as screen variance will allow.</p>
            </div>
                <div class="stdtopright">
                 <img src="/images/colours/standard1.png" alt="standard image" border="0" height="130"/>
            </div>


        </div>
        <div class="standardbottom">
               <div class="swatch">
                                <img src="/images/colours/stdcolor1.png" alt="standard image" border="0" height="94"/>
                <h3>Brilliant White</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor2.png" alt="standard image" border="0" height="94"/>
                <h3>Nearly White</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor3.png" alt="standard image" border="0" height="94"/>
                <h3>Ivory</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor4.png" alt="standard image" border="0" height="94"/>
                <h3>Fawn</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor5.png" alt="standard image" border="0" height="94"/>

                <h3>Arctic Grey</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor6.png" alt="standard image" border="0" height="94"/>
                <h3>Pebble</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor10.png" alt="standard image" border="0" height="94"/>
                <h3>Bracken</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor13.png" alt="standard image" border="0" height="94"/>
                <h3>Buffalo</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor7.png" alt="standard image" border="0" height="94"/>
                <h3>Duck egg</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor12.png" alt="standard image" border="0" height="94"/>
                <h3>Naples Green</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor8.png" alt="standard image" border="0" height="94"/>
                <h3>Tarragon</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor9.png" alt="standard image" border="0" height="94"/>
                <h3>Sage</h3>
            </div>
               <div class="swatch">
                                <img src="/images/colours/stdcolor11.png" alt="standard image" border="0" height="94"/>
                <h3>Swallow blue</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor15.png" alt="standard image" border="0" height="94"/>
                <h3>Signal red</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor14.png" alt="standard image" border="0" height="94"/>
                <h3>Espresso</h3>
            </div>
                <div class="swatch">
                                <img src="/images/colours/stdcolor16.png" alt="standard image" border="0" height="94"/>
                <h3>Nearly black</h3>
            </div>

        </div>
        <div class="stdtop">
                <div class="stdtopleft">
                <h2>Stain Colors</h2>
                        <p>Our water based stains provide varied levels of tinted colour to our weave. 'Clear' is totally untinted and shows the natural colour of the paper, 'Honey' is slightly more golden.</p><p>Please note all colours are only represented as closely as screen variance allows.</p>
            </div>
                <div class="stdtopright">
                 <img src="/images/colours/stain1.png" alt="standard image" border="0" height="130"/>
            </div>


        </div>
        <div class="standardbottom">
                <div class="swatch">
                                <img src="/images/colours/stncolor1.png" alt="standard image" border="0" height="94"/>
                <h3>Clear</h3>


        </div>
                <div class="swatch">
                                <img src="/images/colours/stncolor2.png" alt="standard image" border="0" height="94"/>
                <h3>Honey</h3>


        </div>

        </div>
	<p>"We can also spray our weave with any RAL or Farrow & Ball colour, please <a href='/contact'>contact us</a> for further details"</p>
    </div>
</div>
</div>
