<%= breadcrumbs %>

<div class="static padded">
  <div id="leftcontact2">
    <div class="addressleft">
      <h2>New Sales Enquiries</h2><br />
      <address>Head Office</address>
      <address><strong>01775 724 358</strong></address><br />
      <address>London Showroom</address>
      <address><strong>020 7730 6574</strong></address><br />
    </div>
  </div>
  <div id="midcontact2">
    <div class="addressleft">
      <h2>Existing Sales Enquiries</h2><br />
      <address>Head Office</address>
      <address><strong>01775 712 111</strong></address><br />
      <address>London Showroom</address>
      <address><strong>020 7730 6574</strong></address><br />
    </div>
  </div>
  <div id="rightcontact2">
    <div class="addressleft">
      <h2>All Other Enquiries</h2><br />
      <address>Head Office</address>
      <address><strong>01775 712 111</strong></address><br />
      <address>London Showroom</address>
      <address><strong>020 7730 6574</strong></address><br />
    </div>
  </div>
  <div id="bottomcontact">
    <p>To contact us via email, please click <%= link_to "here", "contact_us?lang=en"%> </p>
  </div>
</div>

